
/* Display alerts in admin section */

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

/* calendar style */
.fc-day-number {
    font-size: 20px;

}

/* btn style */

#appointment-status .btn-approve {
    color: #fff;
    text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.2);
    background-color: #28a745;
    border-color: #23783c;
}

#appointment-status .btn-cancel {
    color: #fff;
    text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.2);
    background-color: #ffc107;
    border-color: #bf8e07;
}

#appointment-status .btn-delete {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.47);
    background-color: #dc3545;
    border-color: #91222e;
}

.gh_appointment_class {
    color: #fff;
    text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.2);
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;

}


.select-time .appointment-time{
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    line-height: 26px;
    height: 28px;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    margin: 5px;
    font-size: 14px;

}

.select-time .appointment-time.selected{
    color: #fff;
    background-color: #28a745;
    border-color: #23783c;
}

.appointment-errors{
    background: rgba(255, 198, 174, 0.56);
    color: #FF1212;
    border: 1px solid #FF1212;
    border-radius: 2px;
    padding-left: 4px;
    margin: 5px 0 2px 0;
}

.appointment-success{
    background: rgba(138, 230, 120, 0.56);
    color: #558f49;
    border: 1px solid #60a054;
    border-radius: 2px;
    padding-left: 4px;
    margin: 5px 0 2px 0;
}
