.groundhogg-calendar {
    font-size: 90%;
}

.groundhogg-calendar .ui-widget {
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

/*
body.groundhogg-calendar-body {
    background-color: #FFF !important;
}

#booking-calendar .ui-datepicker {
    font-family: inherit;
}

.ui-datepicker-current-day{
    border-style: solid;
    font-weight: bold;
    color: #ffffff;
}

.ui-datepicker-next span:after {
    content: "\2193";
    background-image: none;
}

.ui-datepicker-calendar{
    text-align: center;
}*/

.groundhogg-calendar .ui-datepicker {
    padding: 0;
    font-family: inherit !important;
    background: #ffffff !important;
    width: 100%;
}

.groundhogg-calendar .ui-datepicker-header {
    border: none;
    /*border-bottom: 1px solid #e6e6e6;*/
    background: transparent;
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
}

.groundhogg-calendar .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.groundhogg-calendar .ui-datepicker .ui-datepicker-title {
    color: #636363;
    font-weight: bold;
    font-size: 18px;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
    background-image: none !important;
}

.ui-datepicker-prev:before,
.ui-datepicker-next:before {
    font-size: 24px;
    position: absolute;
    /*top: 10px;*/
    /*right: 20px;*/
    /*bottom: 10px;*/
    /*left: 20px;*/
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
     margin-bottom: 1em;
}

.ui-datepicker-prev:before {
    content: "\27A4";
    transform: rotate( 180deg );
}

.ui-datepicker-next:before {
    content: "\27A4";
}

/*.groundhogg-calendar .ui-datepicker .ui-datepicker-prev-hover,*/
/*.groundhogg-calendar .ui-datepicker .ui-datepicker-next-hover{*/
    /*width: 6px;*/
    /*height: 16px;*/
    /*display: block;*/
    /*text-indent: 0;*/
    /*overflow: hidden;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*.ui-datepicker-prev span:after {*/
    /*content: "\8250";*/
    /*position: relative;*/
/*}*/

/*.groundhogg-calendar .ui-datepicker .ui-datepicker-prev-hover,*/
/*.groundhogg-calendar .ui-datepicker .ui-datepicker-next-hover,*/
/*.groundhogg-calendar .ui-datepicker .ui-datepicker-next,*/
/*.groundhogg-calendar .ui-datepicker .ui-datepicker-prev {*/
    /*top: 1.7em;*/
    /*border:none;*/
/*}*/

/*.groundhogg-calendar .ui-datepicker .ui-datepicker-prev-hover {*/
    /*left: 2px;*/
/*}*/

/*.groundhogg-calendar .ui-datepicker .ui-datepicker-next-hover {*/
    /*right: 2px;*/
/*}*/

/*.groundhogg-calendar .ui-datepicker .ui-datepicker-next span,*/
/*.groundhogg-calendar .ui-datepicker .ui-datepicker-prev span {*/
    /*!*background-image: url(images/ui-icons_454545_256x240.png);*!*/
    /*background-position: -32px -32px;*/
    /*margin-top: 0;*/
    /*top: 0;*/
    /*font-weight: normal;*/
/*}*/

/*.groundhogg-calendar .ui-datepicker .ui-datepicker-prev span {*/
    /*background-position: -96px -32px;*/
/*}*/

/*.groundhogg-calendar .ui-datepicker .ui-datepicker-prev-hover span {*/
    /*background-position: -96px -48px;*/
/*}*/

/*.groundhogg-calendar .ui-datepicker .ui-datepicker-next-hover span {*/
    /*background-position: -32px -48px;*/
/*}*/

.groundhogg-calendar .ui-datepicker table {
    margin: 0;
    border: none;
}

.groundhogg-calendar .ui-datepicker th {
    /*padding: 3em 0;*/
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 600;
    /*text-shadow: 0 0 1px #b2b2b2;*/
    text-transform: uppercase;
    border: none;
    /*border-top: 1px solid #909090;*/
}

.groundhogg-calendar .ui-datepicker td {
    border: none;
    padding: 0;
}

.groundhogg-calendar td {
    text-align: center;
    background: none;
}

.groundhogg-calendar td.ui-datepicker-unselectable .ui-state-default {
    background: none;
    border-radius: 0;
}

.groundhogg-calendar td .ui-state-default {
    display: inline-block;
    background: #efefef;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    text-align: center;
    padding: 1em 0;
    margin: 10px auto 0 auto;
    font-weight: bold;
    color: #636363;
    font-size: 14px;
}

.groundhogg-calendar td .ui-state-hover {
    background: #e4e4e4;
}

.groundhogg-calendar td .ui-state-active {
    color: #5c9d4f;
    background: rgba(118, 197, 103, 0.18);
}
