.wpgh-calendar {
    font-size: 90%;
}

.wpgh-calendar .ui-widget {
    font-family: "Helvetica Neue","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
    background: #f7f7f7;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    box-shadow: 0 1px 1px rgba(37, 37, 37, 0.28);
}

.wpgh-calendar .ui-datepicker {
    padding: 0;
    width: 100%;
}

.wpgh-calendar .ui-datepicker-header {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    background: transparent;
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
}

.wpgh-calendar .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.wpgh-calendar .ui-datepicker .ui-datepicker-title {
    color: #636363;
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.wpgh-calendar .ui-datepicker .ui-datepicker-prev-hover,
.wpgh-calendar .ui-datepicker .ui-datepicker-next-hover,
.wpgh-calendar .ui-datepicker .ui-datepicker-next,
.wpgh-calendar .ui-datepicker .ui-datepicker-prev {
    top: 1.7em;
    border:none;
}

.wpgh-calendar .ui-datepicker .ui-datepicker-prev-hover {
    left: 2px;
}

.wpgh-calendar .ui-datepicker .ui-datepicker-next-hover {
    right: 2px;
}

.wpgh-calendar .ui-datepicker .ui-datepicker-next span,
.wpgh-calendar .ui-datepicker .ui-datepicker-prev span {
    background-image: url(images/ui-icons_454545_256x240.png);
    background-position: -32px -32px;
    margin-top: 0;
    top: 0;
    font-weight: normal;
}

.wpgh-calendar .ui-datepicker .ui-datepicker-prev span {
    background-position: -96px -32px;
}

.wpgh-calendar .ui-datepicker .ui-datepicker-prev-hover span {
    background-position: -96px -48px;
}

.wpgh-calendar .ui-datepicker .ui-datepicker-next-hover span {
    background-position: -32px -48px;
}

.wpgh-calendar .ui-datepicker table {
    margin: 0;
}

.wpgh-calendar .ui-datepicker th {
    padding: 3em 0;
    color: #909090;
    font-size: 10px;
    font-weight: normal;
    /*text-shadow: 0 0 1px #b2b2b2;*/
    text-transform: uppercase;
    border: none;
    /*border-top: 1px solid #909090;*/
}

.wpgh-calendar .ui-datepicker td {
    border: none;
    padding: 0;
}

.wpgh-calendar td .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    padding: 1em 0;
    margin: 0;
    font-weight: normal;
    color: #636363;
    font-size: 12px;
}

.wpgh-calendar td .ui-state-active,
.wpgh-calendar td .ui-state-hover {
    background: #e4e4e4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}