.ui-datepicker-current-day{
    border-style: solid;
    font-weight: bold;
    color: #ffffff;
}

.ui-datepicker-calendar{
    text-align: center;
}

.hidden {
    display: none;
}

.select-time .appointment-time{
    padding: 7px;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #29a2d9;
    border-color: #2586b3;
    border-width: 1px 2px 2px 1px;
    border-radius: 3px;
    transition: 0.4s;
    cursor: pointer;
    /*box-shadow: 0 1px 1px #15435a;*/
}

.select-time .appointment-time:hover{
    transition: 0.4s;
    background-color: #80d771;
    /*border-color: #3bca65;*/
}

.select-time .appointment-time.selected{
    background-color: #76c567;
    /*border-color: #32aa55;*/
    padding: 10px;
}

#appointment-errors {
    margin-top: 10px;
}

.appointment-success{
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

p.time-slot-select-text{
    margin: 1em 0 1em 0;
}

hr.time-slot-divider{
    margin: 1em 0 1em 0;
}

.spinner {
    background: url(images/load.gif) no-repeat;
    background-size: 30px 30px;
    display: inline-block;
    visibility: hidden;
    float: right;
    vertical-align: middle;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 30px;
    height: 30px;
    margin: 4px 10px 0;
}

.calendar-form-wrapper .details-form input[type="text"],
.calendar-form-wrapper .details-form input[type="email"]{
    width: 100%;
    display: block;
    padding: 7px;
}