html {overflow-y: hidden;}

body.groundhogg-calendar-body {
    background-color: #FFF !important;
}

.hidden {
    display: none;
}

.select-time .appointment-time{
    padding: 7px;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #29a2d9;
    border-color: #2586b3;
    border-width: 1px 2px 2px 1px;
    border-radius: 3px;
    transition: 0.4s;
    cursor: pointer;
    /*box-shadow: 0 1px 1px #15435a;*/
}

.select-time .appointment-time:hover{
    transition: 0.4s;
    background-color: #80d771;
    /*border-color: #3bca65;*/
}

.select-time .appointment-time.selected{
    background-color: #76c567;
    /*border-color: #32aa55;*/
    padding: 10px;
}

#appointment-errors {
    margin-top: 10px;
}

.appointment-success{
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

p.time-slot-select-text{
    margin: 1em 0 1em 0;
}

hr.time-slot-divider{
    margin: 1em 0 1em 0;
}

.spinner {
    background: url(images/load.gif) no-repeat;
    background-size: 30px 30px;
    display: inline-block;
    visibility: hidden;
    float: right;
    vertical-align: middle;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 30px;
    height: 30px;
    margin: 4px 10px 0;
}

.calendar-form-wrapper .details-form input[type="text"],
.calendar-form-wrapper .details-form input[type="email"]{
    width: 100%;
    display: block;
    padding: 7px;
}

.loader-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.51);
    z-index: 9999;
    cursor: pointer;
}

.loader-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

.loader-wrap p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#calendar-description{
    float: left;
    width: 300px;
    margin-right: -300px;
}

#calendar-form-wrapper{
    float: right;
    width: calc( 100% - 320px );
    padding-left: 20px;
    border-left: 1px solid #e5e5e5;
}

.details{
    font-size: 18px;
    color: #999999;
    margin: 20px 0;
}

.clock-icon:before{
    content: "\23F1";
}

@media only screen and (max-width: 520px) {
    .gh-calendar-form .gh-form-row {white-space: normal;}
    .gh-calendar-form .gh-form-column.col-1-of-1{width: 100%;}
    .gh-calendar-form .gh-form-column.col-1-of-2{width: 100%;}
    .gh-calendar-form .gh-form-column.col-1-of-3{width: 100%;}
    .gh-calendar-form .gh-form-column.col-1-of-4{width: 100%;}
    .gh-calendar-form .gh-form-column.col-2-of-3{width: 100%;}
    .gh-calendar-form .gh-form-column.col-3-of-4{width: 100%;}
    .gh-calendar-form .gh-form-column {
        padding-right: 0;
    }
}