#appointments-app {
  position: fixed;
  top: 32px;
  right: 0;
  bottom: 0;
  left: 160px;
  display: flex;
  flex-direction: column;
}
#appointments-app .gh-panel {
  box-sizing: border-box;
}
#appointments-app #content-wrap {
  height: 100%;
}
#appointments-app #sidebar {
  width: 268px;
  flex-shrink: 0;
  padding: 20px;
}
#appointments-app .calendar-wrap {
  width: 100%;
  padding: 30px;
}
#appointments-app #full-calendar-wrap {
  width: 100%;
}
#appointments-app .fc .fc-toolbar.fc-header-toolbar {
  padding: 20px 20px 0 20px;
}
#appointments-app .fc-theme-standard .fc-list,
#appointments-app .fc-theme-standard .fc-scrollgrid {
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.gh-modal #notes-here, .gh-modal #details {
  width: 100%;
}
.gh-modal #notes-here h3, .gh-modal #details h3 {
  font-size: 14px;
}
.gh-modal #notes-here .avatar, .gh-modal #details .avatar {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.gh-modal #date-picker #change-date {
  display: none;
}
.gh-modal #date-picker .date-picker {
  padding-right: 20px;
}
.gh-modal #date-picker #prev-month svg, .gh-modal #date-picker #next-month svg {
  height: 15px;
  width: 15px;
}
.gh-modal #date-picker .display-date {
  font-size: 16px;
  color: rgba(16, 38, 64, 0.5);
}
.gh-modal #date-picker .date-picker-header .display-date {
  padding-left: 10px;
}
.gh-modal #date-picker #time-slots {
  overflow: auto;
  width: 220px;
  padding: 20px 20px 20px 0;
  flex: 1 1 100px;
}
.gh-modal #date-picker #time-slots button {
  width: 100%;
  padding: 15px 0;
}
.gh-modal #date-picker #time-slots .time-slot-wrap {
  overflow: hidden;
  white-space: nowrap;
}
.gh-modal #date-picker #time-slots .time-slot-wrap .slot-wrap {
  margin-bottom: 10px;
}
.gh-modal #date-picker #time-slots .time-selected {
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 15px 0;
  background: #102640;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}
.gh-modal #date-picker .gh-calendar {
  height: 100%;
}
.gh-modal #date-picker table.gh-calendar-table {
  margin: 10px 0 20px 0;
  border-collapse: collapse;
}
.gh-modal #date-picker table.gh-calendar-table th {
  text-transform: uppercase;
  font-weight: 500;
  color: #0c5460;
  font-size: 14px;
}
.gh-modal #date-picker table.gh-calendar-table td {
  text-align: center;
  padding: 5px;
  box-sizing: content-box;
  width: 45px;
  height: 45px;
}
.gh-modal #date-picker table.gh-calendar-table td.disabled {
  opacity: 0.3;
}
.gh-modal #date-picker table.gh-calendar-table td button {
  height: 100%;
  width: 100%;
}
.gh-modal #date-picker table.gh-calendar-table td button.secondary {
  background: rgba(0, 117, 255, 0.07);
  border: none;
}
.gh-modal #date-picker table.gh-calendar-table td button.secondary:hover {
  background: rgba(0, 117, 255, 0.1);
}

.cancel-reason {
  margin-top: 20px;
  font-size: 16px;
}

#wpfooter {
  display: none;
}

#filters-here {
  width: 400px;
}

.gh-header {
  z-index: 99;
}

/*# sourceMappingURL=appointments.css.map */
