.appointment-section .ic-section .ic-section .ic-section-content span {
    font-weight: 500;
    color: #808080;
    font-size: 12px;
    display: block;
    padding: 1% 0;
}
.appointment-section .ic-section-header-content
{
    width: 90%;
}
.appointment-section .basic-details span
{
    margin-left: 5%;
}